*{
    box-sizing: border-box;
}

body{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Didact Gothic', sans-serif;    
    margin: 0;
    padding: 10px;
    text-align: center;
}

header h1.masthead{
    font-size: 4em;
    margin: 0;
    padding: 0;
    letter-spacing: .2em;
    
}

header h4.masthead{
    padding: 0;
    margin: 0;
    letter-spacing: .99em;
    text-transform:uppercase;
}

nav{
    border-top: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC; 
    text-align: center; 
    position: relative;  
}

nav ul{
    list-style:none;
    margin: 0 auto; 
    padding: 10px;   
}

nav ul li{
    display: inline;
    padding: 0 15px;
    position: relative;
}

.link{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

a{
    text-decoration:none;
    color: #ff5800;
}

.indicator{
   width: 0px;
   height: 0px;
   position: absolute;
   bottom: -10px;
   left: 22px;
}

.indicator.current{
   border-left: 7px solid transparent;
   border-right: 7px solid transparent;
   border-bottom: 7px solid #ff5800;
}

.indicator.hover{
   border-left: 7px solid transparent;
   border-right: 7px solid transparent;
   border-bottom: 7px solid #CCC;
}

.bounce{
    -webkit-animation-name: bounce;
    -moz-animation-name   : bounce;
    -ms-animation-name    : bounce;
    -o-animation-name     : bounce;
    animation-name        : bounce;    
}

@-webkit-keyframes bounce{
    50%{
        -webkit-transform: translateY( 10px );  
    }
    100%{
        -webkit-transform: translateY( 0px );
    }
}

.post{
    margin-bottom: 20px;
}

.posts{
    margin: 10px 50px;
}

.posts time{
    float: right;
    padding: 5px 0;
    clear: both;
}

.posts h1{
    font-size: 1.5em;
    padding: 10px 0;
    display: inline;
}

.posts header{
    text-align:left;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #e3e3e3;
}

.post.content{
    line-height: 1.5em;
    color: rgb(60, 60, 60);
}

.copyright{
    color: #fff;
    padding: 10px 0;
    font-weight: normal;
}

.sub-content{
    text-align:center;
    position: relative;
    padding: 20px 0;
    background-color: rgb( 44, 44, 44);
    background-image: url( 'debut_dark.png');
    height: auto;
}

.sub-section{
    display: inline-block;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    height: 150px;
    vertical-align: top;
    background-repeat:repeat;
}

.sub-section img{
    max-height: 130px;
}

.content{
    position: relative;
}

.container{
    height: 100%;
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.read-more{
    float: right;
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
