*{
    box-sizing: border-box;
}

body{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Didact Gothic', sans-serif;    
    margin: 0;
    padding: 10px;
    text-align: center;
}

header h1.masthead{
    font-size: 4em;
    margin: 0;
    padding: 0;
    letter-spacing: .2em;
    
}

header h4.masthead{
    padding: 0;
    margin: 0;
    letter-spacing: .99em;
    text-transform:uppercase;
}

nav{
    border-top: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC; 
    text-align: center; 
    position: relative;  
}

nav ul{
    list-style:none;
    margin: 0 auto; 
    padding: 10px;   
}

nav ul li{
    display: inline;
    padding: 0 15px;
    position: relative;
}

.link{
    position: relative;
    display: inline-block;
}

a{
    text-decoration:none;
    color: #ff5800;
}

.indicator{
   width: 0px;
   height: 0px;
   border-left: 7px solid transparent;
   border-right: 7px solid transparent;
   border-bottom: 7px solid #ff5800;
   position: absolute;
   bottom: -10px;
   left: 22px;
}

.posts{
    margin: 10px 50px;
}

.posts .date{
    float: right;
    padding: 10px 0;
}

.posts .title{
    font-size: 1.5em;
    padding: 10px 0;
}

.posts .content{
    line-height: 1.5em;
    color: rgb(60, 60, 60);
}

.sub-content{
    text-align:center;
    position: relative;
    padding: 20px 0;
    background-color: rgb( 44, 44, 44);
}

.sub-section{
    display: inline-block;
    padding: 10px;
    border: 1px dashed #ccc;
    
}
